JIRA_BASE_URL=https://baoblack033.atlassian.net
JIRA_EMAIL=your-jira-email@example.com
JIRA_API_TOKEN=replace_me
JIRA_PROJECT_KEY=KCPM
JIRA_ISSUE_TYPE=Bug
JIRA_STATUS_BUG_LOGGED=TO DO
JIRA_STATUS_IN_PROGRESS=IN PROGRESS
JIRA_STATUS_READY_FOR_RETEST=READY FOR TEST
